{% set probe_informations = collector.getProbeInformations() %}
{% set probe_tasks = collector.events.probeTaskEvents %}

{% if probe_informations|length != 0 %}
    <h2>{{- 'Probe' -}}</h2>

    <div class="sf-tabs tasks-scheduler">
        <div class="tab">
            <h3 class="tab-title">
                {{- 'State' -}}
            </h3>

            <div class="tab-content">
                <table class="{{ class|default('') }}">
                    <thead>
                    <tr>
                        <th scope="col" class="key">{{- 'Executed tasks' -}}</th>
                        <th scope="col" class="key">{{- 'Failed tasks' -}}</th>
                        <th scope="col" class="key">{{- 'Scheduled tasks' -}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>{{- probe_informations['executedTasks'] -}}</th>
                        <th>{{- probe_informations['failedTasks'] -}}</th>
                        <th>{{- probe_informations['scheduledTasks'] -}}</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% if probe_tasks|length is not same as(0) %}
            <div class="tab">
                <h3 class="tab-title">
                    {{- 'External probe' -}}
                </h3>

                <div class="tab-content">
                    <table class="{{ class|default('') }}">
                        <thead>
                        <tr>
                            <th scope="col" class="key">{{- 'Name' -}}</th>
                            <th scope="col" class="key">{{- 'Url' -}}</th>
                            <th scope="col" class="key">{{- 'Delay' -}}</th>
                            <th scope="col" class="key">{{- 'Errored if failed tasks' -}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in probe_tasks %}
                            {% set task = event.task %}

                            <tr>
                                <th>{{- task.name|replace({'.probe': ''}) -}}</th>
                                <th class="colored font-normal">{{- task.externalProbePath -}}</th>
                                <th>{{- task.delay -}}</th>
                                <th>{{- task.errorOnFailedTasks ? 'True' : 'False' -}}</th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}
